{% extends "main/base.html" %}




{% block title %} Kazah food {% endblock %}

{% block topic %}
<h1 style="text-align: center; color: #00a2ff;" >Delicious Food</h1>
{% endblock %}
{% block boutn %}
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/carla" class="nav-link">Generalize</a></li>
                <li class="nav-item"><a href="/about" class="nav-link active" aria-current="page">Food</a></li>
                <li class="nav-item"><a href="/last" class="nav-link">Sport</a></li>
                <li class="nav-item"><a href="/festival" class="nav-link">festival</a></li>
                <li class="nav-item"><a href="/Art" class="nav-link">Art</a></li>
                <li class="nav-item"><a href="/page" class="nav-link">opinion</a></li>
                <li class="nav-item"><a href="/end" class="nav-link">ending</a></li>
              </ul>
{% endblock %}
{%block hr %} 
{% endblock %}
{% block air%}
<link type="text/css" rel="stylesheet" href="/static/css/about.css">
<div class="main">
  <p> <em>Kazakhstan </em> is food culture is traditionally centered on horse meat, lamb and dairy products. For hundreds of years, Kazakhs have been nomads on the steppes and deserts of Central Asia, raising cattle, sheep, horses and camels. The Kazakh diet is heavily influenced by nomadic life, with most cooking techniques, for example, aimed at long-term preservation.</p>

<div class="img">
    <img src="/static/images/mainan.png" width="200" height="200">
    <img src="/static/images/et.jpeg"width="200" height="200">
    <img src="/static/images/hurt.webp"width="200" height="200">
    <img src="/static/images/manty.jpeg"width="200" height="200">
    <img src="/static/images/kymyz.jpeg"width="200" height="200">
    
</div>

<div class="container">
   <div class="row">
     <div class="col">
       <h4>Baursak</h4>
     </div>
     <div class="col">
      <h4>Beshbarmak</h4> 
     </div>
     <div class="col" >
      <h4>Hurt</h4> 
     </div>
     <div class="col" >
       <h4>Manty</h4> 
      </div>
      <div class="col">
       <h4>Hymyz</h4> 
      </div>
   </div>
</div>
 
<table class="table">
    <thead>
      <tr>
        <th>Food names</th>
        <th>Ingredients</th>
        <th>Explain</th>
       </tr></thead>
       <tbody>
         <tr class="dangr">
        <a href="/Users/apple/Desktop/Web.Final/Final8.html">
         <td><a href="/Users/apple/Desktop/Web.Final/Final8.html">Beshbalmak</a></td>
        <td>Stewed horsemeat or lamb with soup and noodles</td>
        <td>Meaning "five fingers", meaning to eat with the hand. Beshbarmak is made from ground meat and thin, unleavened doug</td>
    </a>
   </tr>
    <tr class="warning">
       <td><a href="/Users/apple/Desktop/Web.Final/Final8.html">Baursak</a></td>
       <td>Milk ghee sugar baking powder flour</td>
       <td>it is a snack of the Kazakh nationality. Baursak and milk tea are often conjoined</td>
   </tr>
   <tr class="info">
       <td><a href="/Users/apple/Desktop/Web.Final/Final8.html">Hurt</a></td>
       <td>Milk</td>
       <td>It's milk crystals, it's handmade, it is nutriious.</td>
   </tr>
   <tr class="active">
       <td><a href="/Users/apple/Desktop/Web.Final/Final8.html">Hymyz</a></td>
       <td>Horse milk </td>
       <td>Good taste, rich nutrition, milky nose, cold cold, slightly sour taste</td>
   </tr>
 </tbody>
    

</table>
<div style="background-color:#00a2ff;text-align:center;padding:10px;margin-top:7px;">Food</div>
</div>


          {% endblock %}
          {% block file %}
      
{%endblock%}