{% extends "main/base.html" %}

{% block title %} Kazah Sport {% endblock %}


{% block topic %}
<h1 style="text-align: center; color: #00a2ff;" >
    Healthy Exercise</h1>
{% endblock %}
{% block boutn %}
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="/home" class="nav-link " >Home</a></li>
                <li class="nav-item"><a href="/carla" class="nav-link">Generalize</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">Food</a></li>
                <li class="nav-item"><a href="/last" class="nav-link active"  aria-current="page">Sport</a></li>
                <li class="nav-item"><a href="/festival" class="nav-link">festival</a></li>
                <li class="nav-item"><a href="/Art" class="nav-link">Art</a></li>
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">opinion</a></li>
                <li class="nav-item"><a href="/end" class="nav-link">ending</a></li>
              </ul>
{%endblock%}
{% block mac %}
<hr class="featurette-divider">

      <div class="row featurette" style="margin-left: 50px;">
        <div class="col-md-7">
          <h2 class="featurette-heading">Kokpar</h2>
          <p class="lead">
            Kokpar is an ancient equestrian sport in which horse-mounted players attempt to advance a headless goat carcass towards the opposing team's goal. The national game is known as kokpar in Kazakhstan, buzkashi in Afghanistan, Tajikistan and the U.S., kokboru and ulaq tartysh in Kyrgyzstan and kupkari in Uzbekistan</p>
        </div>
        <div class="col-md-3">
          <img src="/static/images/kokpar.jpeg" alt="">
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette" style="margin-left: 50px;">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Asyk</h2>
          <p class="lead">Asyk atu is a popular Kazakh national game which means to beat out with one's own asyk (a bone of a knee sheep joint) or several asyks at a certain distance, which then become the property of a player. Since 2017 it has been part of UNESCO's Representative List of the Intangible Cultural Heritage of the Humanity.</p>
        </div>
        <div class="col-md-3 order-md-1">
          <img src="/static/images/askyh.jpeg" alt=""><hr class="featurette-divider" >
 </div>
      </div>
      <div class="row featurette" style="margin-left: 50px;">
        <div class="col-md-7">
          <h2 class="featurette-heading">Tusau kesu</h2>
          <p class="lead">
              Image result for kazakh tradition tusau kesu
              One of the most important rituals in Kazakh families is Tusau Kesu. This is cutting of the fetters on child's feet so that their future road in life is easy and bright. From the earliest times until today, the Kazakh people have devoted a lot of time to raising children.</p>
        </div>
        <div class="col-md-3">
          <img src="/static/images/tusaukeser.jpeg" alt="">
        </div>
      </div>
  
      <hr class="featurette-divider">
{% endblock %}
{% block air %} 
<link type="text/css" rel="stylesheet" href="/static/css/last.css">
  <div class="main">
  <img class="img" href="project/main/static/images/sport.jpeg" >
<p><b>Traditional sports in Kazakhstan</b> Horse wrestling, skiing, Kazakh wrestling, arm wrestling, white bone throwing, horse racing, horse racing, hunting, scrambling for sheep, girl chasing, beating wool ball, lying down tug-of-war, swing, etc.</p>
<p><b>First Olympic medal</b>In 1960, Kazakh sprinter Husuman Kuoshanov competed for the Soviet Union at the Rome Olympics and won a silver medal in the 4x100m relay. It was also the first Olympic medal won by a Kazakh athlete.</p>
<p><b>First Olympic Gold Medal (pre-independence)</b>At the 1980 Moscow Olympics, two Kazakh Greco-Roman wrestlers, Jakslak Ushkenpulvov and Shymur Selikov, won two gold MEDALS for the Soviet Union. He also became the first Kazakh athlete to win a gold medal.</p>
<p><b>Kazakhstan winter Olympics legend</b>In 1994, Kazakhstan officially participated in the seventeenth Winter Olympic Games as an independent country. And Kazakh Winter Olympics legend Vladimir Smirnov, born in Kukoshetou, Akamora, won kazakhstan's first gold medal as an independent. His 1 gold, 2 silver and 1 bronze MEDALS put Kazakhstan 12th on the medal list</p>
<p><b>Boxing power</b>Kazakhstan is known as a boxing powerhouse, both professional and amateur, and even among the powerful former Soviet republics, kazakhs have few rivals. Until Rio 2016, the glorious tradition of Kazakh boxers averaging at least one gold medal in each Olympic Games continued. The domestic cult of the project's heroes has never stopped. Under the personal care of Kazakhstan's first President Nazarbayev, boxing has grown from a small sport to a large sport and has developed into one of the business cards of Kazakhstan to spread its national image to the outside world.</p>
<p><b>Kazakhstan live sports channel</b>There are TV Kazakhstan channels for live sports. KhabarTV TV channel; EL Arna TELEVISION channel; NTVPlus Kazakhstan TV channel; Setanta Sports Kazakhstan TV channel; TV5 Monde Maghreb Kazakhstan TV channel</p>
<p><b>Kazakhstan's sporting prowess</b>Besides China, Japan and South Korea, Kazakhstan sports has a great gap in reputation and strength among the "second echelon" of Asian competitive sports. Kazakhstan and Iran have long alternated fourth place in the Asian Games gold medal table. From the 1994 Hiroshima Asian Games to the Jakarta Asian Games, Kazakhstan has won 155 gold MEDALS in seven games, which is the average number of gold MEDALS won per games after China, Japan and South Korea.</p>
<p><b>The four goddesses of Kazakhstan</b></p>
<table >
<tr>
    <td>Sabina</td>
    <td>Volleyball player</td>
    <td>Born in 1996, she won legions of fans who regarded her as a goddess in her first open match with the national team. It is said that her games are often packed to get a glimpse of her.</td>
</tr>
<tr>
    <td>Christina</td>
    <td>Volleyball player</td>
    <td>Born in Russia in 1992, Kristina is a Kazakh national volleyball player. She made her debut at the Asian Games in Jakarta, attracting fans with her delicate features and healthy figure.</td>
</tr>
<tr>
    <td>Olga Safnova</td>
    <td>sprinter</td>
    <td>Born in 1991 Olga went nova is kazakhstan sprinter, in the international arena is also fruitful, the Asian indoor track and field championships in 2010 to win 60 meters bronze MEDALS, 4 x 400 meters and his teammates won the silver medal, in the Asian games in the competition and won four MEDALS, mature lasting appeal is net friend give her more.</td>
</tr>
<tr>
    <td>Alina</td>
    <td>Rhythmic gymnast</td>
    <td>Alina was born in 2001 or a 00, only 18 years old this year she has a high degree, in 2017 was awarded the Kazakhstan international sports master's degree, young her future height is difficult to estimate.</td>
</tr>
</table>
<p><b>Kazakhstan's "national hero"</b>At the Incheon Asian Games, the then unknown Ballandon scored a hat trick and won the men's 50, 100 and 200 metres breaststroke gold MEDALS. In the 2016 Rio Olympics, he won the men's 200m breaststroke gold medal, and achieved "zero breakthrough" for Kazakhstan in the Olympic swimming event. He is called a "national hero" by the Kazakh people.</p>
<P><b>Famous wrestler from Kazakhstan</b>Tengizbayev, who was born in 1983, is a famous wrestler from Kazakhstan. He won the 17th place of men's Greco-Roman 60kg division in the 2004 Athens Olympic Games. In 2005, the third place of men's Greco-Roman 60kg division in Asian Wrestling Championships; Gold MEDALS of Men's Greco-Roman 60kg division in the 2006 Asian Wrestling Championships; Bronze medal of Men's Greco-Roman 60kg Wrestling in 2008 Beijing Olympic Games.</P>
</div>

</div>


      </div>
    </div>

    


{% endblock %}
{% block file %}
{%endblock%}
{%block hr %} 
{%endblock %}  
    